@page "/auction/{auctionId:int}"
@model AuctionHouse.WebSite.Pages.Auction.IndexModel
@{
}

@{
    ViewData["Title"] = "Auction";
}


<html>

    <head>

    </head>


<body>
    <h1>Auction</h1>
    <br />

    <h2>@Model.specificAuction.item.Name</h2>
    <br />

    <p>description: @Model.specificAuction.item.Description</p>

    <p>Auction status: @Model.specificAuction.AuctionStatus.ToString()</p>

    <br />
    <!-- Live preview -->
    <img id="preview" alt="Image preview" hidden style="max-width:240px;margin-top:1rem;" />

    <br />



    @if (Model.specificAuction.item.ImageData != null && Model.specificAuction.item.ImageData.Length > 0)
    {
        // Convert byte array to Base64 string
        var imageBase64 = Convert.ToBase64String(Model.specificAuction.item.ImageData);
        // Specify MIME type.
        var imageSrc = $"data:image/jpeg;base64,{imageBase64}";

        <img src="@imageSrc" alt="Image for @Model.specificAuction.item.Name" style="max-width: 400px; margin-top: 1rem;" />
        // Adjust style maybe
    }
    else
    {
        <p>No image available for this item.</p>
    }



    <br />

    <!--Countdown until auction ends-->




    <br />

    <form method="post" asp-page-handler="Bid">
        <div>
            <label for="bid">Place your bid here: </label>
            <br />
            <input type="number" name="amount" required />
        </div>
        <button type="submit">Bid</button>
    </form>



    @if (!string.IsNullOrEmpty(Model.errorMessage))
    {
        <script>
            alert('@Model.errorMessage');
        </script>
    }


    </body>



</html>


<script>

//Write some scrip here maybe.

</script>

